name: 1.3 Maven CI Pipeline
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Run Maven Build
        run: mvn install -DskipTests # Executa o build Maven (requisito)